 <div *ngIf="routed_story; else banner">
<hr>
 <div class="row">
    <span class="pull-left">
        <h2>{{ routed_story.title }}</h2>
    </span>
    <span class="pull-right">
      <button type="button" class="btn btn-warning" (click)="onEdit()">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </button>
        &nbsp;<button type="button" class="btn btn-danger" (click)="onDelete()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
        </button>
    </span>
  </div>
  <div class="row">
    <div class="situation">
      <h4><label>Situation:</label></h4>
      <p>{{routed_story.situation}}</p>
    </div>
    <div class="action">
      <h4><label>Task/Actions:</label></h4>
      <p>{{routed_story.taskAction}}</p>
    </div>
    <div class="result">
      <h4><label>Result:</label></h4>
      <p>{{routed_story.result}}</p>
    </div>
    <!-- <div class="col-xs-12">
      <dl>
        <dt> <span class="badge badge-success">Situation:</span></dt>
        <dd>
          <div class="col-xs-12">
              <div class="text-justify">
                {{routed_story.situation}}
              </div>
          </div>
        </dd>
        <dt><span class="badge badge-success">Task/Actions:</span></dt>
        <dd>
          <div class="col-xs-12">
              <div class="text-justify"> {{routed_story.taskAction}} </div>
          </div>
        </dd>
        <dt><span class="badge badge-success">Result:</span></dt>
        <dd>
          <div class="col-xs-12">
            {{routed_story.result}}
          </div>
        </dd>
      </dl>
    </div> -->
  </div>
  <div class="row">
    <div *ngIf="(questions | async)?.length > 0; else noquestions">
      <h4>Associated Questions:</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let question of questions | async">
          <a routerLink="/questions/{{question.id}}">
            <h5>{{question.question}}</h5>
          </a>
        </li>
      </ul>
    </div>
    <ng-template #noquestions>
        <h4>There are currently no questions.</h4>
      </ng-template>
    <!-- <div class="col-xs-12">
        Associated Questions:
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let question of questions | async">
          <a routerLink="/questions/{{question.id}}">
            {{question.question}}
            <span class="pull-right">
              {{question.id}}
            </span>
          </a>
        </li>
      </ul>
    </div> -->
  </div>
  
  <!--
  <div class="row">
    
    <div class="col-xs-12">
      <ul class="list-inline">
        <li class="list-inline-item">Associated Tags:</li>
        <li class="list-inline-item" *ngFor="let tag of routed_story.tags">
          <a routerLink="/tags/{{tag.id}}">{{tag.name}}</a>
        </li>
      </ul>
    </div>
  </div>-->
  <br>
  <div class="row">
    <span class="pull-left">
      <a routerLink="/comapnies/{{routed_story.company.id}}">{{routed_story.company.name}}</a>
    </span>
    <span class="pull-right">
      <!-- <h4><label>Created:</label></h4> -->
      <h5>{{routed_story.dateCreated |date:'yyyy/MM/dd'}}</h5>
    </span>
  </div>
</div>
<ng-template #banner>
  <h4>No data available!</h4>
</ng-template>